.custom_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  border-radius: 8px;
  width: 500px;
  height: auto;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 25px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: gray;
  z-index: 3;
}
.create_todo_modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.create_todo_modal_input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
}
.create_todo_modal_title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: white;
}
.todo_btn {
  background: #33ccff;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.check_box {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
.error {
  color: rgb(165, 20, 20);
  font-size: 14px;
  font-weight: 400;
}
