.auth_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth_container {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: gray;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
  }
  .register_btn {
    background: #33ccff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  .auth_page_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  .auth_page_text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white;
    .link_change {
      color: #33ccff;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .error {
    color: rgb(165, 20, 20);
    font-size: 14px;
    font-weight: 400;
  }
}
