.dashboard {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  .top_section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .top_header {
      font-size: 24px;
      font-weight: 700;
      color: black;
    }
    .create_todo {
      padding: 5px 35px;
      border-radius: 5px;
      background-color: #c43f0b;
      font-size: 14px;
      color: white;
      font-weight: 700;
      cursor: pointer;
      outline: none;
    }
  }
  .bottom_section_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .todo_item_specific_order {
      display: flex;
      align-items: center;
      gap: 8px;
      .todo_item_specific_order_select {
        padding: 5px 5px;
        border-radius: 5px;
      }
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
