body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
}

#root,
body {
  font-weight: normal;
  font-style: normal;
  height: 100%;
  color: var(--regular-text-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
